extends layout

block content
    section.page-main.padding-top.padding-bottom
        .container
            .row
                h4.title Quản lý chuyến bay
                table.table-manage-flights(ng-controller="AdminFlightController as adminFlightCtrl")
                    tbody
                        tr.style-1
                            td(width="5%") Mã
                            td(width="5%") Nơi đi
                            td(width="5%") Nơi đến
                            td(width="10%") Ngày
                            td(width="10%") Giờ
                            td(width="5%") Hạng
                            td(width="5%") Mức giá
                            td(width="10%") Số lượng ghế
                            td(width="10%") Giá bán
                            td(width="10%") Sửa
                            td(width="10%") Xóa
                        tr(ng-repeat="item in adminFlightCtrl.flights")
                            td(width="5%") {{item.FlightCode}}
                            td(width="5%") {{item.Origin}}
                            td(width="5%") {{item.Destination}}
                            td(width="10%") {{item.DepartureDates}}
                            td(width="10%") {{item.DepartureTimes}}
                            td(width="5%") {{item.ClassLevel}}
                            td(width="5%") {{item.PriceLevel}}
                            td(width="10%") {{item.SeatNumber}}
                            td(width="10%") {{item.Price}}
                            td(width="10%")
                                .btn.btn-update Sửa
                            td(width="10%")
                                .btn.btn-delete(ng-click="DeleteCurrentFlight(item.flightCode)") Xóa

                        tr
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text", ng-model="newFlightCode")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text", ng-model="newOrigin")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text", ng-model="newDestination")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text", ng-model="departureDates")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text", ng-model="departureTimes")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text", ng-model="classLevel")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text", ng-model="priceLevel")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text", ng-model="seatNumber")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text", ng-model="price")
                            td(width="20%" colspan="2")
                                .btn.btn-insert(ng-click="adminFlightCtrl.InsertNewFlight()") Thêm