extends layout

block content
    section.page-main.padding-top.padding-bottom
        .container
            .row
                h4.title Quản lý đặt chỗ
                table.table-manage-bookings(ng-controller="AdminBookingController as adminBookingCtrl")
                    tbody
                        tr.style-1
                            td(width="10%") Mã
                            td(width="20%") Thời gian đặt chỗ
                            td(width="15%") Tổng tiền
                            td(width="15%") Trạng thái
                            td(width="20%") Sửa
                            td(width="20%") Xóa
                        tr(ng-repeat="item in adminBookingCtrl.bookings")
                            td(width="10%") {{aitem.BookingCode}}
                            td(width="20%") {{item.BookingTimes}}
                            td(width="15%") {{item.Payment}}
                            td(width="15%") {{item.Status}}
                            td(width="20%")
                                .btn.btn-update Sửa
                            td(width="20%")
                                .btn.btn-delete Xóa
                        tr
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text")
                            td(width="20%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-200px(type="text")
                            td(width="15%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-inputa.width-175px(type="text")
                            td(width="15%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-175px(type="text")
                            td(width="40%" colspan="2")
                                .btn.btn-insert Thêm