extends layout

block content
    section.page-main.padding-top.padding-bottom
        .container
            .row
                h4.title Quản lý chuyến bay
                table.table-manage-flights
                    tbody
                        tr.style-1
                            td(width="5%") Mã
                            td(width="5%") Nơi đi
                            td(width="5%") Nơi đến
                            td(width="10%") Ngày
                            td(width="10%") Giờ
                            td(width="5%") Hạng
                            td(width="5%") Mức giá
                            td(width="10%") Số lượng ghế
                            td(width="10%") Giá bán
                            td(width="10%") Sửa
                            td(width="10%") Xóa
                        tr
                            td(width="5%") BL326
                            td(width="5%") SGN
                            td(width="5%") TBB
                            td(width="10%") 2016-10-05
                            td(width="10%") 08:45
                            td(width="5%") Y
                            td(width="5%") E
                            td(width="10%") 100
                            td(width="10%") 100.000
                            td(width="10%")
                                .btn.btn-update Sửa
                            td(width="10%")
                                .btn.btn-delete Xóa
                        tr
                            td(width="5%") BL326
                            td(width="5%") SGN
                            td(width="5%") TBB
                            td(width="10%") 2016-10-05
                            td(width="10%") 08:45
                            td(width="5%") Y
                            td(width="5%") E
                            td(width="10%") 100
                            td(width="10%") 100.000
                            td(width="10%")
                                .btn.btn-update Sửa
                            td(width="10%")
                                .btn.btn-delete Xóa
                        tr
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text")
                            td(width="5%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-50px(type="text")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text")
                            td(width="10%")
                                .text-box-wrapper
                                    .input-group
                                        input.tb-input.width-100px(type="text")
                            td(width="20%" colspan="2")
                                .btn.btn-insert Thêm


