extends layout

block content
    section.page-main.padding-top.padding-bottom
        .container
            .row
                .col-md-8.main-left
                    .box-notice
                        h4 Lưu ý
                        ul.list-unstyled.notice-list
                            li Giá chỉ áp dụng trên Website TVT Airlines, không áp dụng tại các phòng vé, đại lý.
                            li Giá "Siêu tiết kiệm" (Super Deal) không được kết hợp với các loại giá khác.
                            li Giá vé "Siêu tiết kiệm" (Super Deal) không được phép thay đổi đặt chỗ, thay đổi hành trình và hoàn vé.
                            li Tra cứu thông tin Hành lý và Phí dịch vụ đặc biệt.
                            li Các giá không đảm bảo cho đến khi hoàn thành giao dịch. Mỗi giá có quy định và điều kiện áp dụng tương ứng, vui lòng đọc kỹ.
                            li Tra cứu dịch vụ tham quan thành phố miễn phí cho một số hành trình quá cảnh tại Việt Nam.
                    .box-choose-flight
                        .group-title
                            .sub-title
                                p.text Choose
                                i.icons.icon-flight.fa.fa-forward
                            h2.main-title CHUYẾN BAY CHIỀU ĐI
                        .group-locate
                            p.locate.origin Sài Gòn
                            i.fa.fa-exchange.icon-exchange
                            p.locate.destination Khánh Hòa
                        .sub-info Giá vé không bao gồm thuế và phí
                        .info-ticket-slider
                            .info-ticket-slider-nav
                                .for-item
                                    .box-info-ticket-mini
                                        .date-ticket Mon 21 June
                                        .price-ticket 2.000.000
                                .for-item
                                    .box-info-ticket-mini
                                        .date-ticket Tue 22 June
                                        .price-ticket 3.000.000
                                .for-item
                                    .box-info-ticket-mini
                                        .date-ticket Wed 23 June
                                        .price-ticket 2.000.000
                                .for-item
                                    .box-info-ticket-mini
                                        .date-ticket Thu 24 June
                                        .price-ticket 3.000.000
                                .for-item
                                    .box-info-ticket-mini
                                        .date-ticket Fri 25 June
                                        .price-ticket 2.000.000
                                .for-item
                                    .box-info-ticket-mini
                                        .date-ticket Sat 26 June
                                        .price-ticket 3.000.000
                                .for-item
                                    .box-info-ticket-mini
                                        .date-ticket Sun 27 June
                                        .price-ticket 3.000.000
                            .info-ticket-slider-for
                                .for-nav
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Operated By
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info Stops
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1600
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 10:25
                                                    td.foo-info 12:25
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1800
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 14:25
                                                    td.foo-info 22:55
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                                .for-nav
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Operated By
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info Stops
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1600
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 10:25
                                                    td.foo-info 12:25
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                                .for-nav
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Operated By
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info Stops
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1600
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 10:25
                                                    td.foo-info 12:25
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                                .for-nav
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Operated By
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info Stops
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1600
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 10:25
                                                    td.foo-info 12:25
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                                .for-nav
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Operated By
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info Stops
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1600
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 10:25
                                                    td.foo-info 12:25
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                                .for-nav
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Operated By
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info Stops
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1600
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 10:25
                                                    td.foo-info 12:25
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                                .for-nav
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Operated By
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info Stops
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight
                                                    td.foo-info VN1600
                                                    td.foo-info Vietnam Airlines
                                                    td.foo-info 10:25
                                                    td.foo-info 12:25
                                                    td.foo-info 0
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="checkbox")
                                                        | 1.000.000
                    a.btn.btn-continue.pull-right Tiếp tục
                .col-md-4.sidebar-widget
                    .col-2
                        .search-widget.widget
                            form
                                .input-group.search-wrapper
                                    input.search-input.form-control(type="text" placeholder="Search...")
                                    span.input-group-btn
                                        button.btn.submit-btn(type="submit")
                                            span.fa.fa-search
                    .col-2
                        .col-1
                            .summary-trip-widget.widget
                                .title-widget
                                    .title Summary Trip
                                .content-widget
                                    .box-summary-detail
                                        .single-widget-item
                                            p.style-title-1 Total:
                                            h2.total-price 2.200.000 VND
                                        .single-widget-item
                                            .title-item
                                                i.fa.fa-plane.icons-2
                                                h4.style-title-2 Departing
                                            ul.info-departing
                                                li
                                                    p Business Flex
                                                li
                                                    p Flight - VN Airs
                                                li
                                                    p Depart - Ho Chi Minh City
                                                li
                                                    p.inline-block Departure
                                                    p.inline-block.text-align-right 18:35 Thu, 20 Oct
                                                li
                                                    p Price - 3.000.000
                                                li
                                                    p Arrive - California, New York
                                                li
                                                    p.inline-block Arrival
                                                    p.inline-block.text-align-right 19:25 Thu, 20 Oct
                                        .single-widget-item
                                            .title-item
                                                i.fa.fa-user.icons-2
                                                h4.style-title-2 Passenger: 1
                                            ul.info-passenger
                                                li
                                                    p Price Summary:
                                                li
                                                    p.inline-block Fare
                                                    p.inline-block.text-align-right 1.900.000 VND
                                                li
                                                    p.inline-block Taxes
                                                    p.inline-block.text-align-right 320.000 VND
                                                li
                                                    p Discount
                                                li
                                                    p Fees
                                                li
                                                    p Ancillaries
                                        .single-widget-item
                                            h2.total-price.style-1 2.200.000 VND
