extends layout

block content
    section.page-main.padding-top.padding-bottom(ng-controller="FlightRoundTripController as flightRoundTrip")
        .container
            .row
                .col-md-8.main-left
                    .box-notice
                        h4 Lưu ý
                        ul.list-unstyled.notice-list
                            li Giá chỉ áp dụng trên Website TVT Airlines, không áp dụng tại các phòng vé, đại lý.
                            li Giá "Siêu tiết kiệm" (Super Deal) không được kết hợp với các loại giá khác.
                            li Giá vé "Siêu tiết kiệm" (Super Deal) không được phép thay đổi đặt chỗ, thay đổi hành trình và hoàn vé.
                            li Tra cứu thông tin Hành lý và Phí dịch vụ đặc biệt.
                            li Các giá không đảm bảo cho đến khi hoàn thành giao dịch. Mỗi giá có quy định và điều kiện áp dụng tương ứng, vui lòng đọc kỹ.
                            li Tra cứu dịch vụ tham quan thành phố miễn phí cho một số hành trình quá cảnh tại Việt Nam.
                    .box-choose-flight
                        .group-title
                            .sub-title
                                p.text Choose
                                i.icons.icon-flight.fa.fa-forward
                            h2.main-title CHUYẾN BAY CHIỀU ĐI
                        .group-locate
                            p.locate.origin {{ flightRoundTrip.originName }}
                            i.fa.fa-exchange.icon-exchange
                            p.locate.destination {{ flightRoundTrip.destinationName }}
                        .sub-info Giá vé không bao gồm thuế và phí
                        .info-ticket-slider
                            .info-ticket-slider-nav
                                .for-item(ng-repeat="flights in flightRoundTrip.firstFlights")
                                    .box-info-ticket-mini
                                        .date-ticket {{ flights.date }}
                                        .price-ticket {{ flights.itemFlights[0].Price }}
                            .info-ticket-slider-for
                                .for-nav(ng-repeat="flights in flightRoundTrip.firstFlights")
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Class Level
                                                    td.foo-info Price Level
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight(ng-repeat="item in flights.itemFlights")
                                                    td.foo-info {{ item.FlightCode }}
                                                    td.foo-info {{ item.ClassLevel }}
                                                    td.foo-info {{ item.PriceLevel }}
                                                    td.foo-info {{ item.DepartureDates }}
                                                    td.foo-info {{ item.DepartureTimes }}
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="radio" name="selectRadioFirstFlight" ng-click="onFirstFlightSelect(item)")
                                                        | {{ item.Price | currency }}
                    .box-choose-flight
                        .group-title
                            .sub-title
                                p.text Choose
                                i.icons.icon-flight.fa.fa-forward
                            h2.main-title CHUYẾN BAY CHIỀU VỀ
                        .group-locate
                            p.locate.origin {{ flightRoundTrip.destinationName }}
                            i.fa.fa-exchange.icon-exchange
                            p.locate.destination {{ flightRoundTrip.originName }}
                        .sub-info Giá vé không bao gồm thuế và phí
                        .info-ticket-slider
                            .info-ticket-slider-nav
                                .for-item(ng-repeat="flights in flightRoundTrip.secondFlights")
                                    .box-info-ticket-mini
                                        .date-ticket {{ flights.date }}
                                        .price-ticket {{ flights.itemFlights[0].Price }}
                            .info-ticket-slider-for
                                .for-nav(ng-repeat="flights in flightRoundTrip.secondFlights")
                                    .box-info-ticket-full
                                        table.table-flight
                                            tbody
                                                tr.bg-color-1
                                                    td.foo-info Flight
                                                    td.foo-info Class Level
                                                    td.foo-info Price Level
                                                    td.foo-info Depart
                                                    td.foo-info Arrive
                                                    td.foo-info.foo-price Price Per Person
                                                tr.bg-color-2.tr-info-flight(ng-repeat="item in flights.itemFlights")
                                                    td.foo-info {{ item.FlightCode }}
                                                    td.foo-info {{ item.ClassLevel }}
                                                    td.foo-info {{ item.PriceLevel }}
                                                    td.foo-info {{ item.DepartureDates }}
                                                    td.foo-info {{ item.DepartureTimes }}
                                                    td.foo-info.foo-price
                                                        input.tb-input.tb-checkbox-flight(type="radio" name="selectRadioSecondFlight" ng-click="onSecondFlightSelect(item)")
                                                        | {{ item.Price | currency }}
                    a.btn.btn-continue.pull-right(ng-click="flightRoundTrip.onContinueClick()") Tiếp tục
                .col-md-4.sidebar-widget
                    .col-2
                        .search-widget.widget
                            form
                                .input-group.search-wrapper
                                    input.search-input.form-control(type="text" placeholder="Search...")
                                    span.input-group-btn
                                        button.btn.submit-btn(type="submit")
                                            span.fa.fa-search
                    .col-2
                        .col-1
                            .summary-trip-widget.widget
                                .title-widget
                                    .title Summary Trip
                                .content-widget
                                    .box-summary-detail
                                        .single-widget-item
                                            p.style-title-1 Total:
                                            h2.total-price {{ flightRoundTrip.firstFlightSelect.Price + flightRoundTrip.secondFlightSelect.Price }} VND
                                        .single-widget-item
                                            .title-item
                                                i.fa.fa-plane.icons-2
                                                h4.style-title-2 Departing
                                            ul.info-departing
                                                li
                                                    p Business Flex
                                                li
                                                    p Flight - VN Airs
                                                li
                                                    p Depart - {{ flightRoundTrip.firstFlightSelect.Origin }}
                                                li
                                                    p.inline-block Departure
                                                    p.inline-block.text-align-right {{ flightRoundTrip.firstFlightSelect.DepartureTimes }} {{ flightRoundTrip.firstFlightSelect.DepartureDates }}
                                                li
                                                    p Price - {{ flightRoundTrip.firstFlightSelect.Price }} VND
                                                li
                                                    p Arrive - {{ flightRoundTrip.firstFlightSelect.Destination }}
                                                li
                                                    p.inline-block Arrival
                                                    p.inline-block.text-align-right {{ flightRoundTrip.firstFlightSelect.DepartureTimes }} {{ flightRoundTrip.firstFlightSelect.DepartureDates }}
                                        .single-widget-item
                                            .title-item
                                                i.fa.fa-plane.icons-2
                                                h4.style-title-2 Arriving
                                            ul.info-arriving
                                                li
                                                    p Business Flex
                                                li
                                                    p Flight - VN Airs
                                                li
                                                    p Depart - {{ flightRoundTrip.secondFlightSelect.Destination }}
                                                li
                                                    p.inline-block Departure
                                                    p.inline-block.text-align-right {{ flightRoundTrip.secondFlightSelect.DepartureTimes }} {{ flightRoundTrip.secondFlightSelect.DepartureDates }}
                                                li
                                                    p Price - {{ flightRoundTrip.secondFlightSelect.Price }} VND
                                                li
                                                    p Arrive - {{ flightRoundTrip.secondFlightSelect.Origin }}
                                                li
                                                    p.inline-block Arrival
                                                    p.inline-block.text-align-right {{ flightRoundTrip.secondFlightSelect.DepartureTimes }} {{ flightRoundTrip.secondFlightSelect.DepartureDates }}
                                        .single-widget-item
                                            .title-item
                                                i.fa.fa-user.icons-2
                                                h4.style-title-2 Passenger: 1
                                            ul.info-passenger
                                                li
                                                    p Price Summary:
                                                li
                                                    p.inline-block Fare
                                                    p.inline-block.text-align-right Free
                                                li
                                                    p.inline-block Taxes
                                                    p.inline-block.text-align-right Free
                                                li
                                                    p Discount
                                                li
                                                    p Fees
                                                li
                                                    p Ancillaries
                                        .single-widget-item
                                            h2.total-price.style-1 {{ flightRoundTrip.firstFlightSelect.Price + flightRoundTrip.secondFlightSelect.Price }} VND
